
*.sln
.vs/CodingChallenges/v15/.suo
CodingChallenges/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
CodingChallenges/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CodingChallenges/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CodingChallenges/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CodingChallenges/obj/Debug/netcoreapp1.1/CodingChallenges.AssemblyInfo.cs
CodingChallenges.sln
CodingChallenges/bin/Debug/netcoreapp1.1/CodingChallenges.deps.json
CodingChallenges/bin/Debug/netcoreapp1.1/CodingChallenges.dll
CodingChallenges/bin/Debug/netcoreapp1.1/CodingChallenges.runtimeconfig.json
CodingChallenges/bin/Debug/netcoreapp1.1/CodingChallenges.runtimeconfig.dev.json
*.pdb
*.props
*.targets
*.txt
*.dll
*.json
*.cache
*.sqlite
*.cache
